@import 'variables.css';
@import 'global.css';
@import 'layout.css';
@import 'components.css';
@import 'sections.css';
@import 'animations.css';
@import 'modules/messenger.css';
@import 'modules/calendar.css';